openapi: 3.0.3
x-envelope: jsonrpc-2.0
info:
  title: 'Прокси сервис для внешних интеграций'
  description: "Используется протокол JSON-RPC 2.0\n\n[Ссылка на общий контракт](https://github.com/vea-company/vea-company.github.io/blob/main/json-rpc-contract/README.md)\n"
  version: 1.0.0
tags:
  -
    name: pay-out-transactions
    description: 'Транзакции на вывод'
  -
    name: pay-in-transactions
    description: 'Заказы на пополнение'
servers:
  -
    url: 'http://api-gate.vea/json-rpc'
    description: 'Develop server'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  '/pay-in-transactions.create#09988ee8':
    $ref: './pay-in-transactions/create-09988ee8.yaml#/paths/create'
  '/pay-in-transactions.create#4b2521b5':
    $ref: './pay-in-transactions/create-4b2521b5.yaml#/paths/create'
  '/pay-in-transactions.create#62d013d5':
    $ref: './pay-in-transactions/create-62d013d5.yaml#/paths/create'
  '/pay-in-transactions.create#c2d52504':
    $ref: './pay-in-transactions/create-c2d52504.yaml#/paths/create'
  '/pay-in-transactions.create#c5459c20':
    $ref: './pay-in-transactions/create-c5459c20.yaml#/paths/create'
  '/pay-in-transactions.create#d0648cf5':
    $ref: './pay-in-transactions/create-d0648cf5.yaml#/paths/create'
  '/pay-in-transactions.create#ede46d01':
    $ref: './pay-in-transactions/create-ede46d01.yaml#/paths/create'
  '/pay-in-transactions.one-by-id#2a1a2066':
    $ref: './pay-in-transactions/one-by-id-2a1a2066.yaml#/paths/one-by-id'
  '/pay-in-transactions.one-by-id#fae18ad8':
    $ref: './pay-in-transactions/one-by-id-fae18ad8.yaml#/paths/one-by-id'
  '/pay-out-transactions.create#3a82ed35':
    $ref: './pay-out-transactions/create-3a82ed35.yaml#/paths/create'
  '/pay-out-transactions.create#70054d02':
    $ref: './pay-out-transactions/create-70054d02.yaml#/paths/create'
  '/pay-out-transactions.create#e1c67e9b':
    $ref: './pay-out-transactions/create-e1c67e9b.yaml#/paths/create'
  '/pay-out-transactions.one-by-id#db39c1e3':
    $ref: './pay-out-transactions/one-by-id-db39c1e3.yaml#/paths/one-by-id'
